//GENERAL SLIDER STYLES
.skroll-slider {
    overflow: hidden;
    z-index: 0;
    position: relative;
    .slides, .slide {
        width: 100%;
        height: 100%;
    }
    .slides {
        position: absolute;
        overflow: hidden;
        display: block;
        z-index: 0;
        opacity: 1;
    }
    .slide {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }
    .indicators {
        position: absolute;
        display: flex;
        align-items: center;
        border-radius: 10px;
        bottom: 10%;
        left: 50%;
        height: 14px;
        transform: translateX(-50%);
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            background: #fff;
            border-radius: 10px;
            width: calc(100% - 2px);
            height: 14px;
            transform: scaleX(0) translateY(-50%);
        }
        &.transition-first:before {
            right: 0;
            animation: line-grow-left 0.6s forwards;
        }
        &.transition-last:before {
            left: 0;
            animation: line-grow-right 0.6s forwards;
        }
        .slide-indicator {
            width: 14px;
            height: 14px;
            background: #fff;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:not(:first-child){
                margin-left: 20px;
            }
            &:before {
                content: '';
                background: transparent;
                border: 2px solid #fff;
                position: absolute;
                width: 50%;
                height: 50%;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(0.001deg);
                transition: all 0.6s ease;
            }
            &.current-indicator:before {
                width: 200%;
                height: 200%;
            }
        }
    }
    .slide-arrow {
        position: absolute;
        top: 50%;
        width: 15%;
        height: 100%;
        z-index: 2;
        color: #fff;
        font-size: 3em;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.1;
        transform: translateY(-50%);
        transition: opacity 0.6s ease;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25%;
        }
    }
    .left-arrow {
        left: 0;
        &:before {
            background-image: url(../img/chevron.svg);
            transform: rotate(180deg);
        }
    }
    .right-arrow {
        right: 0;
        &:before {
            background-image: url(../img/chevron.svg);
        }
    }
}













// .slider-wrap {
//     overflow: hidden;
//     z-index: 0;
//     position: relative;
//     a {
//         color: #fff;
//     }
//     .slide-arrow {
//         position: absolute;
//         top: 50%;
//         width: 15%;
//         height: 100%;
//         z-index: 2;
//         color: #fff;
//         font-size: 3em;
//         font-style: normal;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         opacity: 0.1;
//         transform: translateY(-50%);
//         transition: opacity 0.6s ease;
//         cursor: pointer;
//         &:hover {
//             opacity: 0.6;
//         }
//         &:before {
//             content: '';
//             width: 100%;
//             height: 100%;
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: 25%;
//         }
//     }
//     .arrow-left {
//         left: 0;
//         &:before {
//             background-image: url(../img/chevron.svg);
//             transform: rotate(180deg);
//         }
//     }
//     .arrow-right {
//         right: 0;
//         &:before {
//             background-image: url(../img/chevron.svg);
//         }
//     }
// }


// .slide-wrap {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     overflow: hidden;
//     display: block;
//     z-index: 0;
//     opacity: 1;
//     .slide {
//         height: 100%;
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//     }
// }

// .slide-text {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
//     z-index: 1;
//     line-height: 1.5;
//     & > p {
//         margin-bottom: 0;
//     }
// }

//ZOOM EFFECT
.zoom {
    .current-slide {
        .slide {
            animation: background-pan 16s forwards;
        }
    }
}
.zoom.animating {
    .prev-slide {
        .slide {
            animation: background-pan 16s forwards;
        }
    }
}

//SLIDE SLIDER
.slider-wrap.slide {
    .next-slide {
        opacity: 1;
        z-index: 0;
    }
    .current-slide {
        z-index: 1;
        opacity: 1;
    }
    .prev-slide {
        opacity: 1;
        z-index: 2;
        transform: translateX(-100%) rotate(0.001deg);
        transition: transform 1s ease;
    }
}

//FADE SLIDER
.slider-wrap.fade {
    .current-slide {
        z-index: 1;
        opacity: 1;
    }
    .prev-slide {
        opacity: 0;
        z-index: 2;
        transition: opacity 1s ease;
    }
    .slides {
        position: absolute;
    }
}

//FALLAWAY SLIDER
.slider-wrap.fallaway {
    .next-slide {
        opacity: 1;
        z-index: 0;
    }
    .current-slide {
        z-index: 1;
        opacity: 1;
    }
    .prev-slide {
        opacity: 1;
        z-index: 2;
        transform-origin: top right;
        animation: fallaway 1s forwards;
    }
}

// DOWN AND OUT SLIDER
.slider-wrap.downandout {
    .next-slide {
        opacity: 1;
        z-index: 0;
    }
    .current-slide {
        z-index: 1;
        opacity: 1;
    }
    .prev-slide {
        opacity: 1;
        z-index: 2;
        animation: downandout 1s forwards;
    }
}

//FULL PAGE SLIDER
.slider-wrap.full-page {
    z-index: -1;
    position: absolute;
    .slides {
        filter: brightness(.4) blur(0);
    }
    .slide-indicators, .slide-arrow {
        display: none;
    }
}

//PAN SLIDER
.slider-wrap.pan {
    .slides {
        position: absolute;
    }
    .slide-text {
        opacity: 0;
        transform: translate(-50%, -45%);
        transition: all 1s ease 1.5s;
    }
    .current-slide .slide-text {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    .slide-wrap {
        position: relative;
    }
}

//ZOOM-FADE SLIDER
.skroll-slider.zoom-fade {
    .current-slide {
        z-index: 1;
        opacity: 1;
    }
    &.forwards {
        .next-slide {
            opacity: 1;
            z-index: 0;
        }
        .prev-slide {
            opacity: 1;
            animation: zoom-fade 1s forwards;
        }
    }

    &.backwards {
        .next-slide {
            opacity: 0;
            z-index: 0;
        }
        .prev-slide {
            opacity: 1;
            z-index: 1;
        }
        .current-slide {
            z-index: 2;
            animation: zoom-fade-reverse 1s forwards;
        }
    }
}

@keyframes background-pan {
    100% {
        transform: scale(1.1) rotate(0.001deg);
    }    
}

@keyframes zoom-fade-reverse {
    0% {
        transform: scale(2) rotate(0.001deg);
        opacity: 0;
    }
    99% {
        transform: scale(1) rotate(0.001deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0.001deg);
        opacity: 1;
    }
}

@keyframes zoom-fade {
    0% {
        transform: scale(1) rotate(0.001deg);
        opacity: 2;
        z-index: 2;
    }
    99% {
        transform: scale(2) rotate(0.001deg);
        opacity: 0;
        z-index: 2;
    }
    100% {
        transform: scale(2) rotate(0.001deg);
        opacity: 0;
        z-index: 0;
    }
}

@keyframes fallaway {
    0% {
        transform: rotate(0) rotate(0.001deg);
    }
    10% {
        transform: rotate(-5deg) rotate(0.001deg);
    }
    50% {
        transform: rotate(-3deg) rotate(0.001deg);
    }
    100% {
        transform: translateY(100%) rotate(-40deg) rotate(0.001deg);
    }
}

@keyframes downandout {
    0% {
        transform: scale(1) rotate(0.001deg);
    }
    50% {
        transform: scale(0.75) rotate(0.001deg);
    }
    100% {
        transform: translateX(-100%) scale(0.75) rotate(0.001deg);
    }
}

@keyframes line-grow-right {
    0% {
        transform: scaleX(0) translateY(-50%) rotate(0.001deg);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1) translateY(-50%) rotate(0.001deg);
    }
    100% {
        transform: scaleX(0) translateY(-50%) rotate(0.001deg);
        transform-origin: right;
    }
}

@keyframes line-grow-left {
    0% {
        transform: scaleX(0) translateY(-50%) rotate(0.001deg);
        transform-origin: right;
    }
    50% {
        transform: scaleX(1) translateY(-50%) rotate(0.001deg);
    }
    100% {
        transform: scaleX(0) translateY(-50%) rotate(0.001deg);
        transform-origin: left;
    }
}