//FADE SLIDER
.citrus-slider.transition-fade {
    .current-slide {
        z-index: 1;
    }
    .prev-slide {
        animation-name: fade;
        animation-fill-mode: forwards;
    }
}

@keyframes fade {
    0% {
        z-index: 2;
        opacity: 100%;
    }
    99% {
        z-index: 2;
        opacity: 0%;
    }
    100% {
        opacity: 0%;
        z-index: 0;
    }
}