//FALLAWAY SLIDER
.citrus-slider.transition-fallaway {
    .current-slide {
        z-index: 1;
    }
    &.forwards {
        .prev-slide {
            z-index: 2;
            transform-origin: top right;
            animation-name: fallaway;
            animation-fill-mode: forwards;
        }
    }
    &.backwards {
        .prev-slide {
            z-index: 1;
        }
        .current-slide {
            z-index: 2;
            transform-origin: top right;
            animation-name: fallaway-reverse;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes fallaway {
    0% {
        transform: translateY(0%) rotate(0deg) rotate(0.001deg);
    }
    100% {
        transform: translateY(100%) rotate(-40deg) rotate(0.001deg);
    }
}

@keyframes fallaway-reverse {
    0% {
        transform: translateY(100%) rotate(-40deg) rotate(0.001deg);
    }
    100% {
        transform: translateY(0%) rotate(0deg) rotate(0.001deg);
    }
}