//PAN SLIDER
.citrus-slider.transition-pan {
    .citrus-slides {
        position: absolute;
        display: flex;
        transition-property: transform;
        transition-timing-function: ease;
    }
    .slide-wrap {
        position: relative;
    }
}