//SCOPE SLIDER
.citrus-slider.transition-scope {
    .current-slide {
        z-index: 1;
    }
    &.forwards {
        .prev-slide {
            z-index: 1;
        }
        .current-slide {
            animation-name: scope;
            animation-fill-mode: forwards;
            will-change: clip-path;
        }
    }
    &.backwards {
        .prev-slide {
            z-index: 2;
            animation-name: scope-reverse;
            animation-fill-mode: forwards;
            will-change: clip-path;
        }
    }
}

@keyframes scope {
    0% {
        clip-path: circle(0% at 50% 50%);
    }
    100% {
        clip-path: circle(100%);
    }
}

@keyframes scope-reverse {
    0% {
        clip-path: circle(100%);
    }
    100% {
        clip-path: circle(0% at 50% 50%);
    }
}